[submodule "pack/wizhi/start/nvim-lspconfig"]
	path = pack/wizhi/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/wizhi/start/fugitive"]
	path = pack/wizhi/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
